* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding: 25px;
}

p {
  width: 600px;
  padding: 25px;
  display: block;
  margin: 0 auto;
  text-align: left;
  color: #000000;
}

div ul li {
  margin: 0 auto;
  display: flex;
  list-style: none;
  text-align: left;
}

div li span {
  width: 300px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 900;
  text-align: right;
}

.header {
  background: #336699;
  color: #ffffff;
  padding: 0;
}

.logo {
  position: absolute;
  padding-top: 10px;
  top: 0;
  left: 0;
}
.wrapper {
  padding: 50px;
}

#trip {
  text-align: center;
}

#trip p {
  text-align: left;
}

.tripDetails {
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

.butResponse ul {
  margin: 0 auto;
  display: block;
  flex-direction: column;
  width: 400px;
}

.hide {
  visibility: hidden;
}

button:hover {
  cursor: pointer;
  font-weight: bolder;
  background: #336699;
  color: #ffffff;
}

button {
  display: block;
  border: 2px solid #336699;
  background: #ffffff;
  color: #336699;
  font-style: bold;
  font-size: 1rem;
  margin: 0 auto;
  border-radius: 20px;
  padding: 5px 10px;
  width: 150px;
}

.buttons {
  width: 200px;
  margin: 15px;
  margin: 15px auto;
}

.action_btn {
  width: 200px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

#response {
   color: #336699;
}
